<div class="People">
  <h1>People</h1>
  {% if site.people  %}
    <div class="container">
      {% assign people = site.people %}
      {% for person in people limit: site.people_limit %}
        {% assign remainder = forloop.index | modulo: 3 %}
        {% if forloop.first == true %}
          <div class="row">
        {% elsif remainder == 3 %}
          </div>
          <div class="row">
        {% endif %}

        {% include person.html %}

        {% if forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign people = site.people | reverse %}
      {% for item in people limit: site.people_limit %}
        <tr>
          <th scope="row">{{ item.name }}</th>
          <td>
            {% if item.inline %}
              {{ item.title | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="people-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div> -->
  {% else %}
    <p>No people so far...</p>
  {% endif %}
</div>
