<div class="People">
  <h2>People</h2>
  {% if site.people  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign people = site.people | reverse %}
      {% for item in people limit: site.people_limit %}
        <tr>
          <th scope="row">{{ item.name }}</th>
          <td>
            {% if item.inline %}
              {{ item.title | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="people-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No people so far...</p>
  {% endif %}
</div>
