ul {
  list-style-type: square;
}

// $table-cell-padding-sm:   0;

//
// Condensed table w/ half padding
//

.table-sm {
  th {
    width: 12%;
  }
  td {
    padding-left: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.font-weight-bold {
    font-weight: 600!important;
}

.profile {
  img {
    padding: 5px;
    padding-bottom: 10px;
  }
}

.row {
  justify-content: center;
}
//

.container {
  max-width: 1100px;
  padding-right: 5px;
  padding-left: 5px;
}

.card-title {
  word-break: keep-all;
  font-size: x-large;
}

.grid-container {
  display: grid;
  gap: 15px;
  grid-template-columns: 25% 75%;
  padding: 5px 5px 20px 0px;
}

.post-description{
  font-size: 1.1em;
}
